* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

img {
    max-width: 100%;
}

ul,
body,
figure {
    margin: 0px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 96px;
    background: #7CA934;
    display: flex;
    z-index: 100;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.logo {
    background-image: url("../img/SESI.png");
    width: 151px;
    height: 48px;
    display: inline-block;
}

.menu {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}

.menu-item {
    font-size: 20px;
    font-weight: 600;
}

.menu-item-link {
    padding: 25px;
    color: #ffffff;
    text-decoration: none;
    transition: background 0.2s linear;
}

.footer {
    width: 100%;
    position: relative;
    display: block;
}

.logo-footer {
    width: 100%;
    height: 158px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #235C43;
}

.copyright-footer {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4D4D4D;
}

.copyright {
    font-weight: 400;
    color: #ffffff;
    font-size: 16px;
}


.form-section {
    position: relative;
    margin-top: 96px;
}

.banner-container {
    position: relative;
    height: 800px;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-container {
    position: absolute;
    top: 4%;
    right: 6%;
    background-color: #FFF;
    padding: 20px 25px;
    width: 470px;
    border-radius: 20px;
}

.form-container h1 {
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    margin-bottom: 20px;
    color: #4CAF50;
}

.form-container label {
    font-size: 18px;
    font-weight: 400;
    color: #166282;
    display: block;
    margin-bottom: 15px;
}

.form-container input,
.form-container textarea {
    width: 100%;
    height: 54px;
    margin-bottom: 10px;
    border: 1px;
    border-style: solid;
    border-radius: 20px;
    border-color: #ABBED1;
    outline: none;
    font-size: 18px;
    color: #000;
    padding: 10px;
}

.form-container textarea {
    height: 118px;
}

.form-container button {
    width: 100%;
    height: 56px;
    padding: 16px 32px;
    margin: 30px 0 10px 0;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #7CA934;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.about-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.about-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    flex: 1;
}

.text h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #7CA934;
}

.text p,
.text ul {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4D4D4D;
    text-align: left;
}

.text ul {
    margin: 20px 20px;
    padding-right: 200px;
}

.about-img {
    flex: 1;
    padding-top: 50px;
    display: flex;
    justify-content: flex-end;
}

.about-img img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.benefits-section {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.benefits-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.benefits-box-content {
    width: 370px;
    display: block;
    border-radius: 10px;
    padding: 30px 20px;
    box-shadow: 0px 5px 8px 1px rgba(171, 190, 209, 0.4);
}

.benefits-icon {
    max-width: 129px;
}

.benefits-box-text h1 {
    color: #4D4D4D;
}

.more-information-section {
    position: relative;
    margin-bottom: 70px;
    padding-top: 1px;
}

.info-box {
    width: 100%;
    padding: 20px 30px;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0px 5px 8px 1px rgba(171, 190, 209, 0.4);
}

.info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-header h1 {
    font-size: 24px;
    font-weight: 500;
    color: #4D4D4D;
    text-align: left;
}

.toggle-button {
    width: 42px;
    height: 42px;
    border: none;
    cursor: pointer;
    background: #F7F7FF;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-icon-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
    transition: transform 0.5s ease;
}

.info-icon {
    width: 30px;
    fill: #7CA934;
}

.info-content {
    width: 90%;
    padding: 0;
    opacity: 0;
}

.show {
    height: 60px;
    transition: 1s;
    opacity: 1;
}

.hidden {
    transition: 1s;
    height: 0;
}

.info-content p {
    margin: 0;
}

/* Estilo para a notificação */
#notification {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    padding: 10px;
    background-color: rgba(247, 247, 255, 0.8);
    color: #4D4D4D;
    border-radius: 0 0 20px 20px;
    font-size: 18px;
    text-align: center;
    z-index: 200;

    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

/* Estilo para a notificação quando estiver visível */
#notification.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}